*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
}
.logo{
  font-weight: bold;
}
.line{
   line-height: 100%;
   margin-top: 85px;
   z-index: 1;
}
.side{
  width: 160px;
  height: 64px;
}
